<div class='col-xs-12 text-center'>
<h3>be a boba adventures member.</h3>

<div class="row">
    <%= form_for(@user) do |f| %>
      <% unless @user.errors.count == 0   %>
        <div class="alert alert-error">
          The form contains <%= pluralize(@user.errors.count, "error") %>.
        </div>
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li>* <%= msg %></li>
        <% end %>
        </ul>
      <% end %>

      <%= f.text_field :name, placeholder: 'your name' %>
      <br />
      <%= f.email_field :email, placeholder: 'email' %>
      <br />
      <%= f.password_field :password, placeholder: 'your password' %>
      <br />
      <%= f.password_field :password_confirmation, placeholder: 'confirm your password' %>
      <br />
      <br />
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>

</div>
</div>
