SHOW ME this ADVENTURE!

<%= @adventure.name  %><br />
<%= @adventure.description  %><br />

<div id="map" data-cloudmadekey="<%= ENV["CLOUDMADE_API_KEY"] %>"></div>


<%= @adventure  %>

<br />
<%= button_to "Delete this Adventure", { action: "destroy", id: @adventure.id }, method: :delete, data: { confirm: "Are you sure?" } %>