<div class='row col-xs-12 text-right'>
<h2 class='londrina'> boba near:&nbsp;&nbsp;<%= @user_loc %>&nbsp; </h2>

<h4> THERE ARE <%= @boba_locations.length %> locations.  Let's sort further.&nbsp;</h4>

</div>

<div class='col-xs-10 col-xs-offset-1'>

<table>
  <% @boba_locations.each do |boba_locations| %>
  <tr>
  	<td>
      <%= boba_locations['id'] %>
  	</td>
  	<td>
      <a href="/my_boba/<%= boba_locations['id']%>"</a>
      <%= boba_locations['name'] %>
      </a>
  	</td>
  	<td>
      <%= boba_locations['location']['neighborhoods'] %>
      
  	</td>
  	<td>
      <%= boba_locations['is_closed'] %>
  	</td>
  </tr>
<% end %>
</table>
</div>
<br />
<br />
<br />