<div class='row col-xs-12 text-right'>
<h2 class='londrina text-center'> boba near:&nbsp;&nbsp;<%= @user_loc %>&nbsp; </h2>

<h4 class='text-center'> THERE ARE <%= @boba_locations.length %> locations. click to see adventure details around a location. &nbsp;</h4>

</div>

<div class='col-xs-10 col-xs-offset-1'>
<br />
<table class='table'>
  <thead>
    <tr>
      <th>
        BOBA SPOTTED!
      </th> 
      <th>
        Neighborhood
      </th>
      <th>
        Closed?
      </th>  
      <th>
        Adventures!
      </th> 
    </tr>
  </thead>
  <% @boba_locations.each do |boba_locations| %>
  <tr>
  	<td>
      <a href="/my_boba/<%= boba_locations['id']%>"</a>
      <%= boba_locations['name'] %>
      </a>
  	</td>
  	<td>
      <%= boba_locations['location']['neighborhoods'].join(", ") %>
      
  	</td>
  	<td>
      <%= boba_locations['is_closed'] %>
  	</td>
    <td>


    </td>
  </tr>
<% end %>
</table>
</div>
<br />
<br />
<br />