<div class='col-xs-12'>

<div class='row text-center col-xs-12'>
<h1 class="megrim"> <%= @result['name'] %> </h1>
<img src='<%= @rating%>' class=''></img><br />
<% unless @result['is_closed'] = 'true'%>
  <%= image_tag('images/open.png', width: '100px') %>
<% end %>
<br />
</div>

<div class='row text-center'>

<div class='col-xs-5 col-s-4'>

<table class='table center-block'>  
  <tr>
  	<td>
      <strong><%= @neighborhood %></strong>
    </td>
  </tr>
  <tr>
    <td>
      <%= @result['location']['address'].join(" ") %><br />
      <%= @result['location']['city']%>, <%= @result['location']['postal_code']%><br />
      <%= @result['display_phone']%>
    </td>
  </tr>
  <tr>
  	<td>
      <% unless (@result['location']['cross_streets']).nil? %>
      By
      <%= @result['location']['cross_streets']%>
      <% end %>
      <br />
    </td>
  </tr>
</table>
</div>

<div class='col-xs-7 col-s-7'>
<!--add map here -->
<div id="map-canvas" style='height:230px'/>

</div>
<br />
</div>

<div class='row col-xs-12 center-block'>
<%= link_to 'create an adventure nearby', {controller: :adventures,action: 'new', url: new_adventure_path(current_user)}, method: :get %>
</div>

<%= form_for @user, controller: :faves, action: "create", url: new_fave_path(current_user), method: :create do |f| %>
<%= f.hidden_field :yelp_id, :value => @id %>

<%= f.button 'I love this boba place!' %>
<% end %>

<div class='row col-xs-12 center-block'>

<%= @result %>
</div>


</div>
