<div class='col-xs-12'>

<div class='row text-center col-xs-12'>
<div class='row text-center col-xs-12'>
<h1 class="megrim"> <%= @result['name'] %> </h1>
<img src='<%= @rating%>' class=''></img><br />
<% unless @result['is_closed'] = 'true'%>
  <%= image_tag('images/open.png', width: '100px') %>
<% end %>
</div>

<div class='col-xs-12 col-m-8'>
<table>
  <tr>
  	<td>
  		<h3>@</h3>
  	</td>
  </tr>
  <tr>
  	<td>
      <strong><%= @neighborhood %></strong>
    </td>
  </tr>
  <tr>
  	<td>
      <%= @result['location']['address'].join(" ") %>, <%= @result['location']['postal_code']%>
    </td>
  </tr>
  <tr>
  	<td>
      Cross Street(s):&nbsp;
      <%= @result['location']['cross_streets']%>
      <br />
    </td>
  </tr>
</table>

	<div class='col-xs-3 circle btn-customGR'>
 HELLOW


	</div>

	<div class='col-xs-3 circle btn-customGR'>

HELLOW
	</div>

</div>

<div class='col-xs-12 col-m-4 col-m-offset-8'>
  <div class='circle'>
    <h3 class='londrina'><%= link_to "Boba Passport", signup_path %></h3>
        <h3 class='londrina'><%= link_to "Stamp Your Passport", new_adventure_path %></h3>

  </div>
</div>


<!-- <div class='row center-block'>
<table class='col-xs-12'>
	<tr>
	<td class='col-xs-2' >
	<div class='circle btn-customPR center-block'><br /><br />
	</div>
    </td>
    <td class='col-xs-2'>
	<div class='circle btn-customYW center-block'><br /><br />
	</div>
    </td>
    <td class='col-xs-2'>
	<div class='circle btn-customGR center-block'><br /><br />
	</div>
    </td>
    <td class='col-xs-2'>
	<div class='circle btn-customYW center-block'><br /><br />
	</div>
    </td>

    </tr>
</table>
</div> -->

<div class='row col-xs-12 center-block'>


</div>


</div>
