<div class='col-xs-12'>

<div class='row text-center col-xs-12'>
<div class='row text-center col-xs-12'>
<h1 class="megrim"> <%= @result['name'] %> </h1>
<img src='<%= @rating%>' class=''></img><br />
<% unless @result['is_closed'] = 'true'%>
  <%= image_tag('images/open.png', width: '100px') %>
<% end %>
</div>

<div class='col-xs-3 col-xs-offset-1'>
<table class='center-block'>
  <tr>
  	<td>
  		<h3>@</h3>
  	</td>
  </tr>
  <tr>
  	<td>
      <strong><%= @neighborhood %></strong>
    </td>
  </tr>
  <tr>
  	<td>
      <%= @result['location']['address'].join(" ") %>, <%= @result['location']['postal_code']%>
    </td>
  </tr>
  <tr>
  	<td>
      <% unless (@result['location']['cross_streets']).nil? %>
      Cross Street(s):&nbsp;
      <%= @result['location']['cross_streets']%>
      <% end %>
      <br />
    </td>
  </tr>
</table>
</div>

<div class='col-xs-8'>
<!--add map here -->
<div id="map-canvas" style='height:250px'/>


</div>
</div>

<div class='col-xs-12 '>
  <div class='circle'>
    <h3 class='londrina'><%= link_to "Boba Passport", signup_path %></h3>
        <h3 class='londrina'><%= link_to "Stamp Your Passport", new_adventure_path%></h3>

  </div>
</div>


<div class='row col-xs-12 center-block'>

<%= @result %>
</div>


</div>
