<!DOCTYPE html>
<html>
<head>
  <title>Boba Adventures!</title>
  <link href='http://fonts.googleapis.com/css?family=Muli|Londrina+Shadow|Megrim' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container-fluid col-xs-12">
  <%= render partial: 'layouts/title' %>

    <%= yield %>

</body>
</html>
